.container {
  max-width: 80rem;
  margin: 0 auto;
  padding: 1.5rem 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.content {
  width: 100%;
  margin-top: 3rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;

  flex-wrap: wrap;
}

.list {
  width: 100%;
}

@media (max-width: 640px) {
  .content {
    gap: 1rem;
    margin-top: 2rem;
  }
}
